* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: skyblue;
}

.phone-orientation {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 15px;
}

.wrapper .numbers {
  position: absolute;
  top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 15px;
}

.wrapper .numbers .number {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #bceafd;
  text-shadow: -3px 1px 5px #1b4e63, 0 -2px 1px #fff;
}

.wrapper .numbers .number[data-abbreviation]::before {
  content: attr(data-abbreviation);
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  color: #bceafd;
  text-shadow: -3px 1px 5px #1b4e63, 0 -2px 1px #fff;
  display: block;
  margin-bottom: 0;
}

/* // Small devices (up to 575px) */
@media (max-width: 575px) {
  html, body {
    background: none !important;
  }

  .wrapper {
    display: none !important;
  }

  .phone-orientation {
    height: 300px;
    width: 300px;
    display: block !important;
    position: fixed;
    top: calc((100% - 300px) / 2);
    left: calc((100% - 300px) / 2);
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .wrapper .numbers {
    width: 70% !important;
    top: 0 !important;
    display: none !important;
  }

  .wrapper .numbers .number {
    font-size: 2rem !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    bottom: 0 !important;
  }

  .wrapper .numbers {
    top: 30px !important;
  }

  .wrapper .numbers .number {
    font-size: 4rem !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper .numbers {
    display: flex !important;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}